@charset "utf-8";
/* CSS Document */
body{
	background-image: url(file:///C:/Users/DELL/Desktop/Projecthtml/Images/bg-body.jpg);
	margin-left: 150px;
	margin-right: 150px;
	margin-top:0px;
}

.login{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 15px;
	margin-top:10px;
	margin-right: 10px;
	float: right;
	color: white;
	background-image: url(file:///C:/Users/DELL/Desktop/Projecthtml/Images/bg-body.jpg);
}

.login a:hover{
	color: white;
	background-color: #734D20;
}

.nav{
	margin-top: 0px;
	color: #D7A345;
	
}

.nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color:#232222;
	background-color:#D7A345;
}

.nav ul li{
	font-size: 20px;
	display: inline;
	text-decoration: none;
	vertical-align: middle;
}

.nav ul li a{
	text-align:center;
	line-height: 30px;
	padding: 8px;
	color: #272727;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 25px;
	margin-left: 105px;
	box-sizing: border-box;
}
.nav ul li a:hover{
	color: aliceblue;
}
.front img {
	height: 520px;
	width: 1120px;
	margin-top: 20px;
	margin-left:30px;
	margin-right: auto;
	border: solid 10px black;
}

body div{
	background-color:#C7F4F8;
}
.upper{
	height: 40px;
	background-image: url(file:///C:/Users/DELL/Desktop/Projecthtml/Images/bg-body.jpg)
}

.pinleft img{
	position: absolute;
	margin-left: 8px;
	margin-top: 150px;
}

.pinright img{
	position: absolute;
	margin-left: 1128px;
	margin-top: 150px;
}

#intro{
	background-color: white;
	font-size: 35px;
	margin-left: 75px;
	margin-right: 75px;
	text-decoration: justify;
	border-radius: 10px;
	border-color:black;
	border:solid;
	padding: 10px;
	margin-top: 30px;
}

.introim{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	border-size:8px;
	border:solid;
	border-color:black;
}
