@charset "utf-8";
/* CSS Document */
body{
	background-image: url(file:///C:/Users/DELL/Desktop/Projecthtml/Images/bg-body.jpg);
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 00px;
}

.login{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 15px;
	margin-top: 15px;
	color: white;
	float: right;
}
.img{
	position: absolute;
	border-radius: 90px;
	height: 45px;
}
.nav{
	margin-top: 60px;
	color: #D7A345;
	
}

.nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color:#232222;
	background-color:#D7A345;
}

.nav ul li{
	font-size: 20px;
	display: inline;
	text-decoration: none;
	vertical-align: middle;
}

.nav ul li a{
	text-align:center;
	line-height: 28px;
	padding: 5px;
	color: #272727;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 25px;
	margin-left: 100px;
	box-sizing: border-box;
}


